@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

$font: "Red Hat Display", sans-serif;
$primary-pale-blue: hsl(225, 100%, 94%);
$primay-bright-blue: hsl(245, 75%, 52%);
$neutral-very-pale-blue: hsl(225, 100%, 98%);
$neutral-desaturated-blue: hsl(224, 23%, 55%);
$neutral-dark-blue: hsl(223, 47%, 23%);
$text-body: 16px;
$breakpoint-mobile: 375px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

body,
.main.container,
.col,
.order-summary,
.buttons,
.price-container,
.price-logo-detail {
  display: flex;
  align-items: center;
}

body {
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  padding: 16px;
  flex-direction: column;
  background-color: $primary-pale-blue;
  background-image: url(./images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-attachment: center top;
  background-size: 100%;
  main.container {
    background-color: white;
    padding: 0;
    max-width: 360px;
    height: 560px;
    border-radius: 16px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.499);
    section.img-header-container {
      width: 100%;
      height: 30%;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    section.order-summary {
      width: 100%;
      height: 70%;
      padding: 40px 24px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      h1 {
        font-size: 24px;
        font-weight: 900;
      }
      p {
        text-align: center;
        color: $neutral-desaturated-blue;
      }
      .price-container {
        background-color: $neutral-very-pale-blue;
        border-radius: 8px;
        width: 100%;
        height: 64px;
        padding: 0 24px;
        justify-content: space-between;
        align-items: center;
        img {
          width: 32px;
          height: 32px;
          margin-right: 16px;
        }
        h2,
        h3 {
          font-size: 16px;
          margin: 0;
        }
        h2 {
          font-weight: 700;
        }
        h3 {
          color: $neutral-desaturated-blue;
        }
        a {
          text-decoration: underline;
          color: $primay-bright-blue;
        }
        a:hover {
          text-decoration: none;
          color: hsla(245, 75%, 52%, 0.5);
        }
      }
      .buttons {
        margin-top: 16px;
        flex-direction: column;
        width: 100%;
        button {
          border-radius: 8px;
          width: 100%;
          font-weight: 700;
        }
        .btn-primary {
          background-color: $primay-bright-blue;
          border: none;
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.499);
        }
        .btn-primary:hover {
          background-color: hsla(245, 75%, 52%, 0.5);
          color: white;
        }
        .btn-link {
          color: $neutral-desaturated-blue;
        }
        .btn-link:hover {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
  .attribution {
    font-size: 12px;
    margin-top: 16px;
    text-align: center;
  }
}

@media (max-width: $breakpoint-mobile) {
  body {
    background-image: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    width: 100%;
  }
}
